<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./confirm.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<div class="well confirm-page">
    <img src="../../assests/go.png" id="collate-logo" class="center">
    <div class="container message-block">
        <div class="row">
            <div class="col l12 center z-depth-4">
                <span class="con-message">Your account is active. Click below to proceed.</span>
            </div>
        </div>
    </div>
    <div class="container button-block">
        <div class="row center">
            <div class="col s12 center">
                <a class="waves-effect waves-light btn-large z-depth-4 proceed-btn">Login</a>
            </div>
        </div>
    </div>
    </div>
    <!-- footer section-->

    <footer class="section black-text center">
        <p class="flow-text">
            &copy; Collate <span class="beta-v2">&nbsp;&nbsp;Beta v2&nbsp;&nbsp;</span> 2020
        </p>
    </footer>
</body>
</html>