.contact{
    margin-top: 110px;
    margin-left: 350px;
}
.inputs{
    margin-right: 50px;
}
textarea{
    border: 1px solid gray !important;
    border-radius: 20px !important;
    margin-top: 10px !important;
    width: 530px !important;
    height: 200px !important;
    text-decoration: none;
}
.submit-btn{
    margin-top: 10px;
    border-radius: 7px;
}
@media screen and (max-width: 800px){
    .contact{
        margin-left: 15px;
    }
    .inputs{
        width: 250px;
    }
    textarea{
        width: 250px !important;
        height: 100px !important;
    }
}