.forgot-form{
    padding: 30px;
    text-align: left;
    width: 600px;
    height: 8vw;
    background-color: white;
    margin-top: 12px;
    margin-left: 14vw;
    margin-bottom: 30px;
}
.input-forgot{
    margin-top: -40px !important;
}


.forgot-submit,.forgot-submit:hover,.forgot-submit:focus,.forgot-submit:visited,.forgot-submit:active{
    background-color: #6633cc;
    color: #ffffff;
    border-color: transparent;
    border-radius: 50px;
    width: 20vw;
    height: 50px;
}

@media(max-width:1025px){
    .forgot-submit,.forgot-submit:hover,.forgot-submit:focus,.forgot-submit:visited,.forgot-submit:active{
        background-color: #6633cc;
        color: #ffffff;
        border-color: transparent;
        border-radius: 5px;
        width: 30vw;
    }
    
}


 @media(max-width:420px){
     .forgot-password{
         min-height: 140vw;
     }

    .forgot-form{
        width: 90vw;
        margin-left: -3.9vw;
        margin-top: 40vw !important;
        height: 30vw;
    }
    .forgot-submit,.forgot-submit:hover,.forgot-submit:focus,.forgot-submit:visited,.forgot-submit:active{
        background-color: #6633cc;
        color: #ffffff;
        border-color: transparent;
        border-radius: 50px;
        width: 50vw;
    }
    
}
.forgot-password{
    margin-top: -141px;
    background: linear-gradient(0deg, #ffffff 50%, #6633cc 50%);
    height: 45vw;
}


@media(max-width:380px){
    .forgot-form{
        margin-top: 60vw !important;
    }

    .forgot-password{
        min-height: 180vw;
    }
}


@media (min-width:630px) and (max-width:830px) and (orientation:landscape){
    .full-forgotp-page{
        display: none;
    }
    .forgot-password{
        min-height: 77vh;
        background: #6633cc;
      margin-top: -10px;
    }

  }