.new-password{
    min-height: 87vh;
    background: linear-gradient(0deg, #ffffff 50%, #6633cc 50%);
    margin-top: -10px;
}

.reset-password-form{
    padding: 30px;
    text-align: left;
    height: 28vh;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 700px;
    margin-left: 11vw;
}

.reset-message{
    color: #ffffff;
}

.reset-pass-submit,.reset-pass-submit:focus,.reset-pass-submit:visited,.reset-pass-submit:hover,.reset-pass-submit:active{
    background-color: #6633cc;
    color: #ffffff;
    border-color: transparent;
    border-radius: 50px;
    width: 20vw;
    height: 50px;
}

@media(max-width:1025px){
    .reset-pass-submit,.reset-pass-submit:focus,.reset-pass-submit:visited,.reset-pass-submit:hover,.reset-pass-submit:active{
        background-color: #6633cc;
        color: #ffffff;
        border-color: transparent;
        border-radius: 50px;
        width: 30vw;
    }   

    .reset-message{
        padding-top: 50px;
    }
    .reset-password-form{
        padding: 30px;
        text-align: left;
        height: 44vh;
        background-color: white;
        border-radius: 20px;
        margin-top: 125px;
    }
}

@media(max-width:420px){
    .reset-pass-submit,.reset-pass-submit:focus,.reset-pass-submit:visited,.reset-pass-submit:hover,.reset-pass-submit:active{
        background-color: #6633cc;
        color: #ffffff;
        border-color: transparent;
        border-radius: 50px;
        width: 40vw;
    }   

    .reset-message{
        padding-top: 10px;
    }
    .reset-password-form{
        padding: 30px;
        text-align: left;
        height: 29vh;
        background-color: white;
        border-radius: 20px;
        margin-top: 25px;
        margin-left: -4.5vw;
        width: 92vw;
    }
}

@media(max-width:361px){
    .reset-password-form{
        height: 35vh;
    }
}


@media (min-width:630px) and (max-width:830px) and (orientation:landscape){
    .full-resetp-page{
        display: none;
    }
    .new-password{
        min-height: 77vh;
        background: #6633cc;
      margin-top: -10px;
    }

  }